.header {
  background-color: var(--header-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  margin-right: 10px;
}

.li {
  padding: 5px;
}

.a {
  color: var(--black-color);
  text-decoration: none;
  font-weight: bold;
}

.a:hover {
  text-decoration: underline;
}

.image {
  box-sizing: content-box;
  width: 50px;
  background-color: #9d9d9d;
  border-radius: 5px;
  padding-left: 7px;
}
