.container {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 3%;
}

.img {
  border-radius: 5px;
  width: 100%;
}

.p {
  width: 95%;
  max-width: 400px;
  margin: 5px;
}

.div {
  width: 95%;
  max-width: 400px;
  margin: 5px;
  display: flex;
  justify-content: space-between;
}

.parent {
  display: flex;
  margin-bottom: 10px;
}

.inner_div {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin-left: 10px;
}

.button {
  text-decoration: none;
  border: 0;
  background-color: red;
  /* font-size: 1.875rem; */
  width: 100px;
  height: 35px;
  padding: 4px;
  border-radius: 4px;
  font-size: 1.125rem;
}

.edit {
  color: #000;
  background-color: #dcdcdc;
}

.delete {
  color: #fff;
  background-color: #ff4f4f;
}
