:root {
  --black-color: #000;
  --font-color: #000;
  --header-color: #ccc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

a {
  text-decoration: none;
}

button:hover {
  cursor: pointer;
}

h1 {
  text-align: center;
  font-size: 1.875rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-top: 5%;
  margin-bottom: 2%;
  color: #000000;
}

h2 {
  text-align: center;
  font-size: 1.750rem;
  font-family: 'Courier New', Courier, monospace;
  margin-top: 2%;
  margin-bottom: 2%;
}

.text_align {
  text-align: center;
}

.loading {
  text-align: center;
  margin-top: 10%;
}

.loading_div {
  display: flex;
  justify-content: center;
  margin-top: 10%;
}
